<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/47199050e5.js" crossorigin="anonymous"></script>
    <title>Whats Going On</title>
</head>

<body>

    {{#each businesses as |business|}}

    {{> business-info business }}


    {{else}}
    <center>
    <a href="/"><button class="btn" style="padding: 10px; font-size:40px;"
    ><i class="fa fa-glass-cheers"></i>See Businesses</button></a>
    </center>
    {{/each}}

</body>


</html>